venv/
settings.py
.DS_Store
sqlite3.db
groundup/media/*
all_pictures/
pics/
pics.zip
groundup/media/

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
local_settings .mr.developer.cfg
.project
.pydevproject

