<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}> <!--<![endif]-->
    <head>{% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}GroundUp Palo ALto{% endblock %}</title>
        {% block meta-tags %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        {% endblock meta-tags %}

        {% block style-libraries %}
        <link rel="stylesheet" href="{% static 'bootstrap_base/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap_base/css/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}"
        {% endblock style-libraries %}
        {% block styles %}{% endblock styles %}
 
        {% block head_js %}{% endblock %}

        {% block extrahead %}{% endblock extrahead %}
        {% block modernizr %}
        <script src="{% static 'bootstrap_base/js/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
        {% endblock modernizr %}
    </head>
    <body>
        {% block navbar %}
        <div class="{% block navbar-classes %}navbar{% endblock %}">
            <div class="navbar-container">
                <div class="dots top"></div>
                <div class="dots bottom"></div>
                <div class="crest"></div>
                <div class="container">
                	<div class="row">
	                        <ul class="nav">
	                            <li><a href="/">home</a></li>
	                            <li><a href="/about/">about</a></li>
	                            <li><a href="/menu/">menu</a></li>
                                <li class="spacer"></li>
	                            <li><a href="/blog/">blog</a></li>
                                <li><a href="/baristas/">baristas</a></li>
	                            <li><a href="/vendors/">vendors</a></li>
	                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock navbar %}

        {% block container %}
        <div class="main-display">
            <!--div class="back-pane">
                <div class="back-container inner-shadow"></div>
            </div-->
            <div class="pane">
                <div class= "webLinks">
                    <a href="http://www.twitter.com/groundupaol">
                        <div class="twitter"></div>
                    </a>
                    <a href="http://www.facebook.com/pages/Ground-Up/196548740430482">
                        <div class="facebook"></div>
                    </a>
                </div>
            	<div class="inner-pane inner-shadow">
    		        <div id="content">

    		            {% block content %}

    		            {% endblock %}

    		            <footer>{% block footer %}{% endblock %}</footer>

    		        </div>
    		    </div>
            </div>
	    </div>
        {% endblock container %}

        {% block legal-footer %}

        <div class="footer">
            <ul class="nav legal">
                <li>
                    <div class="legal-blurb">
                        © 2012 by Ground Up. All rights reserved. All other copyrights and trademarks are property of their respective owners.
                    </div>
                </li>
                <li><div class="legal-logo"></div></li>

            </ul>
        </div>

        {% endblock legal-footer %}

        {% block script-libraries %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{% static 'bootstrap_base/js/jquery-1.8.1.min.js' %}"><\/script>')</script>
            <script src="{% static 'bootstrap_base/js/bootstrap.min.js' %}"></script>
        {% endblock script-libraries %}
        {% block scripts %}
            <!-- script src="js/main.js"></script -->
        {% endblock scripts %}
        {% block analytics %}
            <script>
                var _gaq=[['_setAccount','{% block ua %}{% endblock %}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endblock analytics %}
    </body>
</html>
