{% extends 'base.html' %}


{% block content %}
<div class="pane-content">
    <h1>Reserve in Advance</h1>
    <p>We're happy to talk reservations in advance. Please leave your information, and come pick up your items in store.</p>
    <div class="order-form">
        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-success"/>
        </form>
    </div>
</div>
{% endblock %}