{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript" src="/static/js/bootstrap-carousel.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//$("#myCarousel").carousel();
	});
</script>
{% endblock %}

{% block content %}
<div class="text-center pane-content">
  <div class="row">
    <div class="span4">
      <div id="myCarousel" class="carousel slide image-border">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><img src="/static/images/carousel/1_h.jpg" /></div>
          <div class="item"><img src="/static/images/carousel/2_h.jpg" /></div>
          <div class="item"><img src="/static/images/carousel/3_h.jpg" /></div>
          <div class="item"><img src="/static/images/carousel/4_h.jpg" /></div>
          <div class="item"><img src="/static/images/carousel/5_h.jpg" /></div>
          <div class="item"><img src="/static/images/carousel/6_h.jpg" /></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="span3 home-info">
        <h1 class="home-header"> GROUND UP </h1>
        <p class="home-blurb"> The human vagina is an elastic muscular canal that extends from the cervix to the vulva.[5] The internal lining of the vagina consists of stratified squamous epithelium. Beneath this lining is a layer of smooth muscle, which may contract during sexual intercourse and when giving birth. Beneath the muscle is a layer of connective tissue called adventitia.[6] <p>
    </div>
  </div>
</div>
<div id="homeInfo">
</div>
{% endblock %}

