@font-face {
	font-family: accidental;
	src: url('/static/fonts/accid.ttf');
}

html { 
  background: url(/static/images/wood_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: transparent;
	font-family: Helvetica, Arial;
}

.pane-content h1, h2, h3, h4, h5, h6 {
    font-family: accidental;
}

.pane-content h1, h2, h3, p {
    color: white;
}

.pane-content {
    color: white;
}

.navbar {
	position: relative;
	margin-top: 70px;
	background-color: #000000;
	max-height: 173px;
	min-height: 173px;
}

.navbar-container {
	position: absolute;
	background-color: white;
	top: 10px;
	min-height: 150px;
	width: 100%;
}

.navbar .dots {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 7px;
	background-image: url(/static/images/dots.png);
	background-repeat: repeat;
	background-size: 1200px;
}

.navbar .top {
	margin-top: 4px;
}

.navbar .bottom {
	margin-top: 140px;
}

.navbar .container {
	position: relative;
	margin-top: -120px;
	margin-left: 50%;
	left: -350px;
	font-family: accidental;
	font-size: 30px;
	font-weight: normal;
	width: 100%;
}

.navbar .nav>li>a {
	color: #000000;
}

.spacer {
	width: 250px;
	height: 20px;
}

.crest {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	width: 220px;
	height: 200px;
	background-image: url(/static/images/Crest.png);
	background-size: 100%;
}

.main-display {
	position: relative;
	height: auto;
	top: -90px;
}

.back-pane {
	position: relative;
	background-color: white;
	min-height: 400px;
	margin-left: 135px;
	margin-right: 135px;
	top: -80px;
	-webkit-box-shadow: 0px 0px 7px 0px #444444; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 7px 0px #444444;
    height: inherit;
}

.back-container {
	position: absolute;
	bottom: 5px;
	top: 5px;
	left: 5px;
	right: 5px;
	background-color:#589bd3;
	width: auto;
}

.pane {
	position: relative;
	background-color: white;
	min-height: 450px;
	margin-left: 150px;
	margin-right: 150px;
	top: 0px;
	-webkit-box-shadow: 0px 0px 7px 0px #444444; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 7px 0px #444444;
}
.pane .inner-pane {
	position: relative;
	bottom: 5px;
	top: 5px;
	min-height: 450px;
	margin-left: 5px;
	margin-right: 5px;
	background-color:#6db2ec;
}

.webLinks {
	position: absolute;
	top:105px;
	left:-45px;
	width:30px;
	height:30px;
}
.twitter {
	width:20px;
	height:20px;
	background-image: url(/static/images/twitter_logo.png);
	background-size: 100%;
	-webkit-box-shadow: 0px 1px 3px 0px #00000; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
      box-shadow: 0px 1px 3px 0px #000000;
}

.facebook {
	margin-top:7px;
	width:20px;
	height:20px;
	background-image: url(/static/images/facebook_logo.png);
	background-size: 100%;
	-webkit-box-shadow: 0px 1px 3px 0px #000000; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
      box-shadow: 0px 1px 3px 0px #000000;
}

.pane #content {
}

.main-display, .pane, .pane .container, .pane #content {
	padding-bottom: 10px;
	overflow: hidden;

}

.inner-shadow {
   -moz-box-shadow:    inset 0 0 7px #444444;
   -webkit-box-shadow: inset 0 0 7px #444444;
   box-shadow:         inset 0 0 7px #444444;
}

.footer {
	position: relative;
}

.legal {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px;
	font-family: helvetica;
	font-size: 8px;
	font-weight: normal;
	color: white;
}

.legal-logo {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 30px;
	height: 30px;
	background-image: url(/static/images/whiteLogo.png);
	background-size: 100%;
}

.legal-blurb {
	position:relative;
	margin-left: 50%;
	margin-right: auto;
	margin-top: 0px;
	top: -5px;
	left: -220px;
}

.blog-pages .previous {
	position: absolute;
	left: 10px;
	bottom: 5px;
}

.blog-pages .next {
	position: absolute;
	right: 10px;
	bottom: 5px;
}

#myCarousel {
	margin: 30px;
	margin-top: 60px;
	width: 450px;
	float: left;
}

#homeInfo {
	margin-left: 397px;
}

.pane-content {
	padding: 10px;
}

.menu-item {
    height: 300px;
    margin-left: 20px;
}

.menu-item-info {
	padding: 20px;
	margin-left: 200px;
}

.menu-item .menu-item-image {
	width: 250px;
	max-height: 200px;
    max-width: 200px;
	float: left;
}

.menu-item .menu-item-name {
}

.image-border {
	position: relative;
	background-color: white;
	padding: 5px;
	width: 30px;
	-webkit-box-shadow: 0px 0px 7px 0px #444444; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
          box-shadow: 0px 0px 7px 0px #444444;
}

.home-info {
	width: 330px;
	margin-top: 70px;
	margin-left: 80px;
}

.home-header {
	font-size: 100px;
	font-weight: normal; 
}

.home-blurb {
	font-weight: normal;
	padding-top: 25px;
}




